DATABASE_URL="postgresql://wjw:wjw_dev_pw@localhost:5432/whenwhatwhere?schema=public"
GCLOUD_STORAGE_BUCKET="bucket-name"
GCLOUD_PROJECT_ID = "project-id"
GCLOUD_APPLICATION_CREDENTIALS = "/filepath/blabla.json"