body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #999;
  color: white;
}

form {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  display: flex;
  margin: 10px 10px;
}

#appTitle {
  color: #666;
  font-size: 2em;
  font-family: "Helvetica Neue", sans-serif;
}

#app {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}

#eventForm :is(label, input, textarea) {
  display: block;
  text-align: start;
}

#eventForm :is(#eventDescription) {
  width: 95%;
  text-align: left;
  padding-bottom: 3rem;
}

#eventList {
  padding: 1rem;
  background-color: #aaa;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#eventList :is(p) {
  color: #eceaea;
  margin: 1%;
  align-self: flex-start;
}

#eventList :is(h4) {
  color: #f0efef;
  margin: 1%;
  align-self: flex-start;
}

#eventList :is(img) {
  margin-bottom: 3%;
}

.event-item {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #999;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  width: 350px;
}

.event-title {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.description {
  min-height: 6rem;
  min-width: 24rem;
}
