body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}

#appTitle {
  color: #777;
}

#app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
}

form {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}
